extends layout.pug

block content
  script( type='text/javascript' ).
    function addTask() {
      const newFields = document.getElementById('daily-task').cloneNode( true );

      newFields.id = '';
      newFields.childNodes.forEach( field => {
        const inputs = field.getElementsByTagName('input');
        if ( inputs.length > 0 ) {
          inputs[ 0 ].value = '';
        }

        const buttons = field.getElementsByTagName('button');
        if ( buttons.length > 0 ) {
          buttons[ 0 ].parentNode.style.display = '';
        }   
      });

      const form = document.getElementById('dailyExpenses');
      form.appendChild( newFields );
    }

  div( class="container section" id="container" )
    form( action="/expenses" method="post" id='dailyExpenses' name='dailyExpenses' )

      div( class="input-field row" id="property" )
        select( class="browser-default" name="property" )
          option( value="" disabled selected ) Choose a property
          for property in properties
            option( value=property )=property

      div( class="section" id="daily-task" )
        div( class="input-field row" )
          input( placeholder="Task" name="task" type="text" class="col s10 offset-m1" )

        div( class="input-field row" )
          input( placeholder="People" name="people" type="text" class="col s10 offset-m1" )

        div( class="input-field row" )
          input( placeholder="Labor: $75/hr" name="labor75" type="number" class="col s10 offset-m1" )
        
        div( class="input-field row" )
          input( placeholder="Labor: $50/hr" name="labor50" type="number" class="col s10 offset-m1" )
  
        div( class="input-field row" )
          input( placeholder="Materials: $" name="materials" type="text" class="col s10 offset-m1" )

        div( class="center" style="display: none" )
          button( class="btn red darken-1"
            onclick="this.parentNode.parentNode.parentNode.removeChild( this.parentNode.parentNode );" ) Remove task
            i( class="material-icons right" ) clear

    div( class="divider" )
    div( class="section" )
       
    div( class="row section center" id="buttons" )
      button( class="bottom-btn btn blue darken-1" onClick="addTask()" ) Add task
        i( class="material-icons right" ) add

      button( class="bottom-btn btn green darken-1" onClick="dailyExpenses.submit()" ) Save
        i( class="material-icons right" ) save
    
      
