html
  body
    h1 Privacy Policy
    h2 This app only collects a users Google Id to be used as a persistent identifier in finding a users property sheets. All Google Sheet opererations are append only so no data from a users sheet is collected besides it's id to be able to edit the sheet.
    h2 This app does not share any user information everything is used internally for user authentication