extends layout.pug

block content
  div( class="container section" )
    form( action="/properties" method="post" id='dailyExpenses' name='property' )
      div( class="input-field row" )
        input( placeholder="Property Name" name="name" type="text" class="validate" )

      div( class="row center" id="submit" )
        button( class="btn waves-effect waves-light green darken-1" type="submit" ) Submit
          i(class="material-icons right") send

  
    
      
