extends layout.pug

block content
  div( class="container section" )
    for property in properties
      div( class="see-links center row" id="property" )
        iframe( src=`https://docs.google.com/spreadsheets/d/${ property }/pubhtml?widget=true&amp;headers=false`
          height='50%' width='100%' )
