extends layout.pug

block content
  div( class="container section" )
    for id in sheetids
      div( class="see-links center row" id="property" )
        iframe( src=`https://docs.google.com/spreadsheets/d/${ id }`
          height='50%' width='100%' )
