extends layout.pug

block content
  div( class="container section" )
    for property in properties
      div( class="see-links center row" id="property" )
        a( href=`https://docs.google.com/spreadsheets/d/${ property.sheetid }`)=property.name
